<!DOCTYPE html>
<html>
  <head>
    <title>HeadstormFrontEnd</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
     <%= stylesheet_link_tag "style.css" %>
     <%= favicon_link_tag asset_path('favicon.ico') %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
